<p>Hi <%= @user.email %>,</p>
<p>Thanks for joining CHAZAQ: Take Heart in faith-based community.</p>
<p>I hope you find support in the community for your prayer request and also share the joy in the testimonies that the community shares.</p>
<p>I also invite you to complete your profile, with your name, a profile picture and even a bible quote here: <%= link_to "Complete Profile", edit_user_path(@user) %></p>
<p>Sincerely,<br>Edwin</p>
