<div class="banner">
  <div class="container">
    <p><strong>CHAZAQ</strong>: Take Heart in, is a faith-based community for prayer support & celebrating testimonials.</p>
    <p><em>“I have told you these things, so that in me you may have peace. In this world you will have trouble. But take heart! I have overcome the world.” John 16:33</em></p>
    <h1></h1>
    <%= link_to new_post_path(type: "prayer"), class: "btn btn-flat my-2" do %>
      <i class="fas fa-plus-circle"></i>  Prayer Request
    <% end %>
    <%= link_to new_post_path(type: "testimonial"), class: "btn btn-flat my-2" do %>
      <i class="fas fa-plus-circle"></i>  Share Testimonial
    <% end %>
  </div>
</div>
