<div class="footer mt-5">
  <div class="footer-links">
    <!-- <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a> -->
    <a href="https://form.jotform.me/93022679537464" target="_blank">Report issues</a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by eting. Copyright 2019
  </div>
</div>
